<footer>
  <hr/>
  <p>&copy; {{ year.from }}-{{ year.to }} {{ author }}</p>
  <ul>
    <li><a href="https://twitter.com/vctrtvfrrr">twitter</a></li>
    <li><a href="https://github.com/vctrtvfrrr">github</a></li>
  </ul>
</footer>
