<header>
  <div>{{ sitename }}</div>
  <nav>
    <a href="/">Sobre</a>
    <a href="/posts">Posts</a>
    <a href="/projects">Projetos</a>
    <a href="/resume">Currículo</a>
    <a href="/guestbook">Livro de Visitas</a>
  </nav>
</header>
