<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include '../partials/meta.njk' %}
  </head>
  <body>
    {% include '../partials/header.njk' %}

    <main>
      {% block header %}
      <h1>{{ title }}</h1>
      {% endblock %} {% block content %}
      {{ contents | safe }}
      {% endblock %}
    </main>

    <p>
      {% if previous %}
        Post anterior:
        <a href="/{{ previous.permalink }}">{{ previous.title }}</a>
      {% endif %}
    </p>

    <p>
      {% if next %}
        Próximo post:
        <a href="/{{ next.permalink }}">{{ next.title }}</a>
      {% endif %}
    </p>

    {% include '../partials/footer.njk' %}
  </body>
</html>
