<h1>{{ sitename }}</h1>
<p>{{ description }}</p>

<hr />

<pre>{{ collections.tech | debug(2) | safe }}</pre>
{% if collections.tech.length %}
  <ul>
    {% for item in collections.tech %}
      <li>
        <h3>
          <a href="/{{ item.path }}">{{ item.title }}</a>
        </h3>
        <p>{{ item.excerpt }}</p>
      </li>
      {% endfor %}
  </ul>
{% else %}
  Nenhum post encontrado
{% endif %}
