<header>
  <DIV>{{ sitename }}</DIV>
  <nav>
    <A HREF="/">Sobre</A>
    <A HREF="/posts">Posts</A>
    <A HREF="/projects">Projetos</A>
    <A HREF="/resume">Currículo</A>
    <A HREF="/guestbook">Livro de Visitas</A>
  </nav>
</header>
