{% if title %}
  {% set pageTitle = title + ' | ' + sitename %}
{% else %}
  {% set pageTitle = sitename %}
{% endif %}

{% if description %}
  {% set pageDescription = description %}
{% else %}
  {% set pageDescription = author %}
{% endif %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ pageTitle }}</title>
<meta name="description" content="{{ pageDescription }}" />

<link rel="stylesheet" href="/assets/styles.css" />
