@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  a {
    @apply underline underline-offset-2 decoration-dotted;
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    @apply no-underline;
  }

  img {
    max-width: 80%;
    margin: auto;
  }
}

.dark .pieTitleText,
.dark .titleText,
.dark .sectionTitle,
.dark .legend text,
.dark .legend tspan,
.dark .tick text,
.dark .messageText,
.dark .loopText tspan {
  fill: white !important;
}
.dark .messageLine0,
.dark .messageLine1 {
  stroke: #d9d9d9 !important;
}
