BODY {
  background: #1E1E2A;
  margin: 24px;
  color: #FFEDD5;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

H1, H2, H3, H4, H5, H6 {
  color: #FCA307;
  text-decoration: none;
}

A:link, A:visited {
  color: #B95404;
  text-decoration: underline;
  font-weight: bold;
}

A:hover, A:active, A:focus {
  color: #DF7900;
  text-decoration: none;
  font-weight: bold;
}

hr {
  border: 1px solid #FCA307;
}

.WRAPPER {
  max-width: 800px;
}

.HEADER {
  margin-bottom: 2em;
}

.SITENAME {
  color: #FCA307;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 0.25em;
}

.CONTENT {
  margin: 3em 0;
}

.FOOTER {
  margin-top: 2em;
  font-size: 0.85em;
}

.license img {
  height: 16px !important;
  margin-left: 3px;
  vertical-align: text-bottom;
}
