body {
  background: #1e1e2a;
  margin: 24px;
  color: #e0d7c8;
  font-family: Arial, Helvetica, sans-serif;
}

.license img {
  height: 16px !important;
  margin-left: 3px;
  vertical-align: text-bottom;
}
