<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "//www.w3.org/TR/html4/loose.dtd">
<HTML>
  <HEAD>
    {% include 'partials/meta.njk' %}
  </HEAD>
  <BODY>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ googletagmanager }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include 'partials/header.njk' %}

    {% if toc.items.length %}
      <OL class="toc">
        {% for item in toc.items %}
          <LI data-level="{{ item.level }}">
            <A HREF="#{{ item.anchor }}">{{ item.text }}</A>
          </LI>
        {% endfor %}
      </OL>
    {% endif %}

    {% block header %}
      <H1>{{ title }}</H1>
    {% endblock %}

    {% block content %}
      <main>{{ contents | safe }}</main>
    {% endblock %}

    {% if previous %}
      <p>
        Post anterior:
        <a href="/{{ previous.permalink }}">{{ previous.title }}</a>
      </p>
    {% endif %}

    {% if next %}
      <p>
        Próximo post:
        <a href="/{{ next.permalink }}">{{ next.title }}</a>
      </p>
    {% endif %}

    {% include 'partials/footer.njk' %}
  </BODY>
</HTML>
