<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "//www.w3.org/TR/html4/loose.dtd">
<HTML>
  <HEAD>
    {% include 'partials/meta.njk' %}
  </HEAD>
  <BODY>
    {%- if isProduction -%}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ googletagmanager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {%- endif -%}

    <DIV CLASS="WRAPPER">
      {% include 'partials/header.njk' %}

      <main CLASS="CONTENT">
        {% block content %}
          <H1>{{ title }}</H1>
          {{ contents | safe }}
        {% endblock %}
      </main>

      {% include 'partials/footer.njk' %}
    </DIV>
  </BODY>
</HTML>
