<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include 'partials/meta.njk' %}
  </head>
  <body>
    {% include 'partials/header.njk' %}

    {% if toc.items.length %}
      <ol class="toc">
        {% for item in toc.items %}
          <li data-level="{{ item.level }}">
            <a href="#{{ item.anchor }}">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ol>
    {% endif %}

    {% block header %}
      <h1>{{ title }}</h1>
    {% endblock %}

    {% block content %}
      <main>{{ contents | safe }}</main>
    {% endblock %}

    {% if previous %}
      <p>
        Post anterior:
        <a href="/{{ previous.permalink }}">{{ previous.title }}</a>
      </p>
    {% endif %}

    {% if next %}
      <p>
        Próximo post:
        <a href="/{{ next.permalink }}">{{ next.title }}</a>
      </p>
    {% endif %}

    {% include 'partials/footer.njk' %}
  </body>
</html>
