{% extends "base.njk" %}

{% block content %}
  {% for key, collection in collections %}
    <section>
      <H2>{{ collection.metadata.title }}</H2>
      <P>{{ collection.metadata.description }}</P>
      {% if collections[key].length %}
        <UL>
          {% for item in collection %}
            <LI>
              <H3>
                <A HREF="/{{ item.permalink }}">{{ item.title }}</A>
              </H3>
              <P>{{ item.excerpt }}</P>
            </LI>
          {% endfor %}
        </UL>
      {% else %}
        Nenhum post encontrado
      {% endif %}
    </section>
  {% endfor %}
{% endblock content %}
