{% extends "base.njk" %}

{% block content %}
  {% if toc.items.length %}
    <OL class="toc">
      {% for item in toc.items %}
        <LI data-level="{{ item.level }}">
          <A HREF="#{{ item.anchor }}">{{ item.text }}</A>
        </LI>
      {% endfor %}
    </OL>
  {% endif %}

  {%- if title -%}
    <H1>{{ title }}</H1>
  {%- endif -%}
  {{ contents | safe }}

  <HR>

  <DIV CLASS="giscus"></DIV>

  <HR>

  {% if previous %}
    <P>
      Post anterior:
      <A HREF="/{{ previous.permalink }}">{{ previous.title }}</A>
    </P>
  {% endif %}

  {% if next %}
    <P>
      Próximo post:
      <a HREF="/{{ next.permalink }}">{{ next.title }}</A>
    </P>
  {% endif %}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">

  <script src="https://giscus.app/client.js"
          data-repo="vctrtvfrrr/vctrtvfrrr"
          data-repo-id="R_kgDOI-ZFww"
          data-category="Comentários"
          data-category-id="DIC_kwDOI-ZFw84CkGgD"
          data-mapping="pathname"
          data-strict="1"
          data-reactions-enabled="0"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="dark_dimmed"
          data-lang="pt"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
{% endblock head %}
