{% extends "base.njk" %}

{% block content %}
  {{ contents | safe }}
  <HR>
  <DIV CLASS="giscus"></DIV>
{% endblock %}

{% block head %}
  <script src="https://giscus.app/client.js"
          data-repo="vctrtvfrrr/vctrtvfrrr"
          data-repo-id="R_kgDOI-ZFww"
          data-category="Comentários"
          data-category-id="DIC_kwDOI-ZFw84CkGgD"
          data-mapping="title"
          data-strict="0"
          data-reactions-enabled="0"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="dark_dimmed"
          data-lang="pt"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
{% endblock head %}
